table {
  background-color: orange;
  border-collapse: collapse;
  height: 40px;
  width: 25%;
  font-family: sans-serif;
  color: white;
  text-align: center;
  float: left;
}


  th, td {
      padding: 5px;
      text-align: center;
      font-family: sans-serif;
      font-weight: normal;
  }
